<div class="container core-padding-vrt">
  <form id="fileupload" action="{{ $ctrl.data.action | trust }}" method="POST" enctype="multipart/form-data" data-ng-controller="UploadCtrl" data-file-upload="$ctrl.data.options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
    <div class="row fileupload-buttonbar">
      <div class="col-xs-12 text-right">
        <span class="btn btn-flat btn-success fileinput-button" ng-class="{disabled: disabled}">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Add files...</span>
          <input type="file" name="files[]" multiple ng-disabled="disabled">
        </span>
        <button type="button" class="btn btn-flat btn-primary start" data-ng-click="submit()">
          <i class="glyphicon glyphicon-upload"></i>
          <span>Start upload</span>
        </button>
        <button type="button" class="btn btn-flat btn-warning cancel" data-ng-click="cancel()">
          <i class="glyphicon glyphicon-ban-circle"></i>
          <span>Cancel upload</span>
        </button>
        <span class="fileupload-process"></span>
      </div>
      <div class="col-xs-12 fade" data-ng-class="{in: active()}">
        <div class="progress progress-striped active flat" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
        <div class="progress-extended">&nbsp;</div>
      </div>
    </div>
    <div class="row files">
      <div data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}" class="col-xs-12 file">
        <div data-ng-switch data-on="!!file.thumbnailUrl" class="col-xs-4 core-padding-left-none">
          <div class="preview flat" data-ng-switch-when="true">
            <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}"><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
          </div>
          <div class="preview flat" data-ng-switch-default data-file-upload-preview="file"></div>
        </div>
        <div class="col-xs-8 core-padding-none">
          <div data-ng-switch data-on="!!file.url" class="row">
            <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl" class="col-xs-12">
              <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
              <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
            </span>
            <span data-ng-switch-default class="col-xs-12">{{file.name}}</span>
            <strong data-ng-show="file.error" class="error text-danger col-xs-12">{{file.error}}</strong>
          </div>
          <div class="progress progress-striped active fade flat" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
          <div class="text-right">
            <button type="button" class="btn btn-flat btn-auto btn-default" disabled="disabled">{{file.size | formatFileSize}}</button>
            <button type="button" class="btn btn-flat btn-primary start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
              <i class="glyphicon glyphicon-upload"></i>
              <span>Start</span>
            </button>
            <button type="button" class="btn btn-flat btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
              <i class="glyphicon glyphicon-ban-circle"></i>
              <span>Cancel</span>
            </button>
            <button type="button" class="btn btn-flat btn-danger destroy"  data-ng-controller="FileDestroyCtrl" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
              <i class="glyphicon glyphicon-trash"></i>
              <span>Delete</span>
            </button>
          </div>
        </div>
        <div ng-if="!$last" class="col-xs-12 core-divider"></div>
      </div>
    </div>
  </form>
</div>
