@import url('https://fonts.googleapis.com/css?family=Roboto');

$margin: 8px;
$font-size: 1.000em;

$file-height: 90px;

body { font-family: 'Roboto', sans-serif; font-size: $font-size; }

.preview {
  &.flat {
    overflow: hidden;
    position: relative;
    height: $file-height;
    background-color: #000;
    video {
      position: absolute;
      bottom: 0;
      max-width: 100%;
      height: auto;
    }
  }
}

.core {
  &-padding {
    padding: $margin;
    &-vrt { padding-top: $margin; padding-bottom: $margin; }
    &-hrz  { padding-right: $margin; padding-left: $margin; }
    &-no  { padding: 0; }
  }
  &-margin {
    &-no  { margin: 0; }
  }
  &-divider {
    border-bottom: solid 1px #bdc3c7;
    margin: $margin 0;
  }
}

.files {
  .file {
    /*height: $file-height;*/
    overflow: hidden;
  }
}

.progress {
  &.flat {
    background-position: 0;
    background-image: none;
    height: 3px;
    @include border-radius(0);
    @include box-shadow(none);
    .progress-bar {
      background-position: 0;
      background-image: none;
      @include border-radius(0);
      @include box-shadow(none);
    }
  }
}

.btn {
  &-flat {
    border: 0;
    background-position: 0;
    background-image: none;
    text-shadow: none;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
    outline: none !important;
    cursor: default;
    $size: 32px;
    width: $size;
    height: $size;
    padding: $margin * 3;
    @include border-radius(0);
    @include box-shadow(none);
    &.btn-success {
      /*background-color: #e74c3c;
      &:active {
        background-color: #c0392b;
      }*/
    }
    &.btn-primary {
      /*background-color: #2ecc71;
      &:active {
        background-color: #27ae60;
      }*/
    }
    &.btn-warning {
      /*background-color: #f39c12;
      &:active {
        background-color: #e67e22;
      }*/
    }
    &.btn-auto {
      width: auto;
      font-size: $font-size;
    }
    i, span {
      flex: 1;
      flex-grow: 0;
    }
    span { display: none; }
  }
}

footer {
  width: 100%;
  padding: $margin * 2;
  position: fixed;
  bottom: 0;
  background-color: #2c3e50;
  a {
    color: #ecf0f1;
  }
}
